<nav class='navbar'>
  <div class='wrapper'>
      <div class='navbar__site-name'>
          Just A Bite!
      </div>
      <ul class='navbar__list'>
          <li class='active'><a href='/'>抽個大獎</a></li>
          <% if (username) { %>
          <li class="login"><a href='/admin'>後檯</a></li>
          <li><a href='logout'>登出</a></li>
          <% } else { %>
            <li class="login"><a href='/login'>登入</a></li>
          <% } %>
      </ul>
  </div>
</nav>