
body {
    background:rgba(0, 0, 0, 0.3);
}

.wrapper {
    max-width: 645px;
    height: 1300px;
    background: white;
    border-top: solid 20px #fad312;
    border-left: rgba(0, 0, 0, 0.3) 5px;
    border-bottom: rgba(0, 0, 0, 0.3) 5px;
    border-right: rgba(0, 0, 0, 0.3) 5px;
    margin: 50px auto;
    box-shadow: 0 2.4px 5px 0 rgba(0, 0, 0, 0.3);
}

.form__title {
    width: 313px;
    height: 32px;
    margin: 54px 298px 35px 42px;
    font-family: MicrosoftJhengHei;
    font-size: 36px;
    letter-spacing: -1.8px;
    text-align: left;
    color: #000000;
}

.form__info {
    margin: 35px 50px 11px 41px;
    font-family: MicrosoftJhengHei;
    font-size: 14px;
    text-align: left;
    color: #000000;
    line-height: 20px;
}

.form__notice {
    color: red;
    margin-top: 10px;
    margin-bottom: 55px;
}

.question {
    font-family: MicrosoftJhengHei;
    font-size: 20px;
    margin: 0 0 20px 0;
    color: #000000;
}

input {
    color: #afafaf;
    border: #afafaf solid 0.1px;
    border-radius: 1px;
    width: 287px;
}

.checkbox__bed {
    margin-bottom: 15px;
}

#circle {
    width: 20px;
}

.form__group {
    margin: 0px 0px 49px 41px;
}

.other {
    font-size: 20px;
    margin-bottom: 12px;
}

.remark {
    font-size: 14px;
    margin-bottom: 24px;
}

#submit {
    width: 92px;
    height: 40px;
    margin-top: 55px;
    border-radius: 3px;
    border: 0;
    background-color: #fad312;
    font-size: 15px;
    text-align: center;
    line-height: 2em;
    color: black;
    margin-left: 49px;
}

.form__bottom {
    margin-top: 20px;
    font-size: 14px;
    margin-left: 49px;
}

.question::after {
    content: ' *';
    color: red;
}

footer {
    height: 60px;
    background: black;
    font-family: MicrosoftJhengHei;
    font-size: 13px;
    text-align: center;
    color: #999999;
    margin: 100px auto 0 auto;
    line-height: 5em;
}

.form__reminder {
    color: red;
    margin-top: 7px;
    font-size: 12px;
}

.hide {
  visibility: hidden;
}


@media(max-width: 768px) {
    .wrapper {
        max-width: 645px;
        height: 1300px;
        background: white;
        border-top: solid 20px #fad312;
        border-left: rgba(0, 0, 0, 0.3) 5px;
        border-bottom: rgba(0, 0, 0, 0.3) 5px;
        border-right: rgba(0, 0, 0, 0.3) 5px;
        margin: 50px auto;
        box-shadow: 0 2.4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    footer {
        width: 1920px;
        height: 60px;
        background: black;
        font-family: MicrosoftJhengHei;
        font-size: 13px;
        text-align: center;
        color: #999999;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        transform: translate(-645px, 0);
        line-height: 5em;
    }
}